body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.edit-form {
	display:none;
}

td:hover .edit-form {
	display:block;
}

tr.isComplete h4 {
	text-decoration: line-through;
	font-weight: normal;
}

.markIncomplete {
	display:none;
}
tr.isComplete .markIncomplete {
	display: inline-block;
}
tr.isComplete .markComplete {
	display: none;
}